h3 .label .glyphicon {
    font-size: 10px;
    margin-left: 5px;
}

table {
    margin-top: 20px;
}

.label {
    cursor: pointer;
}

#search h3 {
    text-align: center;
}

table .btn {
    padding: 0px 4px;
}

.manage {
    width: 10%;
}

#add-entry-button {
    margin-bottom: 50px;
}