{% extends "base.html" %}
{% import "modal.html" as modal %}

{% block headers %}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    <li class="active">Voclists</li>
{% endblock %}

{% block content %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>Select your voclist</h3>
        {% if voclists %}
            <select id="voclist-selection" class="form-control">
                {% for voclist in voclists %}
                <!-- FIXME remove id -->
                <option voclist-id="{{ voclist.id }}">{{ voclist }}</option>
                {% endfor %}
            </select>
        {% else %}
            <p>No voclist found yet. Please create one.</p>
        {% endif %}

        <div id="buttons" class="row">
            <div class="col-md-9">
                <button id="add-voclist-button" class="btn btn-primary" type="button">Add voclist</button>
                <button id="ok-button" class="btn btn-primary" type="button">Ok</button>
            </div>
            <div class="col-md-3">
                <button id="edit-button" class="btn btn-primary" type="button" >Edit</button>
                <button id="delete-button" class="btn btn-primary" type="button">Delete</button>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>

    {{ modal.voclist_modal() }}

{% endblock %}
