<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voc list</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet">

    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Voclist</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="content" class="container">
        <h3>Entries for {{ entryset.name }}</h3>

        <table class="table">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Japanese</th>
                    <th>English</th>
                    <th>Tags</th>
                </tr>
            </thead>
                <tbody>
                    {% for entry in entries %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ entry.value }}</td>
                            <td>{{ entry.translation }}</td>
                            <td>
                                {% for tag in entry.tags %}
                                    #{{ tag.value }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-entry-modal">Add entry</button>
    </div>

    <!-- Modal to add entries -->
    <div class="modal fade" id="add-entry-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <form id="add-entry-form" action="/entry/" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New entry for {{ entryset.name }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="word">Word:</label>
                            <input type="text" class="form-control" id="word" name="value">
                        </div>
                        <div class="form-group">
                            <label for="translation">Translation:</label>
                            <input type="text" class="form-control" id="translation" name="translation">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
