{% extends "base.html" %}

{% block headers %}
    <link href="{{ url_for('static', filename='css/tags.css') }}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Voclists</a></li>
    <li><a href="/voclist/{{ voclist.id }}">{{ voclist }}</a></li>
    <li class="active">Tags</li>
{% endblock %}

{% block content %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>Tags for {{ voclist }}</h3>
        {% for tag_row in tags | batch(3, '&nbsp;') %}
            <div class="row">
                {% for tag in tag_row %}
                    <a class="col-md-4" href="/voclist/{{ voclist.id }}?tag={{ tag.value }}">{{ tag.value }}</a>
                {% endfor %}
            </div>
        {% else %}
            <p>No tag found.</p>
        {% endfor %}
    </div>
    <div class="col-md-2"></div>
{% endblock %}
