{% extends "base.html" %}

{% block headers %}
    <link href="{{ url_for('static', filename='css/tags.css') }}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Voclists</a></li>
    <li><a href="/voclist/{{ voclist.id }}">{{ voclist }}</a></li>
    <li class="active">Tags</li>
{% endblock %}

{% block content %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>Tags for {{ voclist }}</h3>
        {% for tag in tags %}
            {% if loop.index is divisibleby 3 %}
                <div class="row">
            {% endif %}
                    <a class="col-md-4" href="/voclist/{{ voclist.id }}?tag={{ tag.value }}">{{ tag.value }}</a>
            {% if loop.index is divisibleby 3 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-2"></div>
{% endblock %}