{% extends "base.html" %}

{% block headers %}
    <link href="/static/css/voclist.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/voclist.js"></script>
{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Voclists</a></li>
    <li class="active">{{ voclist }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>Entries for {{ voclist }}</h3>

            <p>
                Click on a tag to search entries related to this tag.
            </p>
        </div>

        <div id="search" class="col-md-6">
            <h3>Filter by</h3>

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="search-word" class="col-md-2">Word</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="search-word" name="word"
                               {% if search_word %} value="{{ search_word }}" {% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="search-tag" class="col-md-2">Tag</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="search-tag" name="tag"
                               {% if search_tag %} value="{{ search_tag }}" {% endif %}>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Ok</button>
            </form>
        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ voclist.language_left }}</th>
                <th>{{ voclist.language_right }}</th>
                <th>Tags</th>
                <th class="manage">Manage</th>
            </tr>
        </thead>
            <tbody>
                {% for entry in entries %}
                    <tr entry-id="{{ entry.id }}">
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ entry.word }}</td>
                        <td>{{ entry.translation }}</td>
                        <td>
                            {% for tag in entry.tags %}
                                <span class="label"
                                      style="background-color: #{{ gen_color(tag.id, 3) }}"
                                >{{ tag.value }}</span>
                            {% endfor %}
                        </td>
                        <th>
                            <button type="button" class="btn btn-primary edit-button">Edit</button>
                            <button type="button" class="btn btn-primary delete-button">Delete</button>
                        </th>
                    </tr>
                {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-entry-modal">Add entry</button>

<!-- Modal to add entries -->
<div class="modal fade" id="add-entry-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <form id="add-entry-form" action="/voclist/" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New entry for {{ voclist }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="modal-word">Word:</label>
                        <input type="text" class="form-control" id="modal-word" name="word">
                    </div>
                    <div class="form-group">
                        <label for="modal-translation">Translation:</label>
                        <input type="text" class="form-control" id="modal-translation" name="translation">
                    </div>
                    <div class="form-group">
                        <!-- FIXME -->
                        <label for="modal-tags">Tags (separated by ','):</label>
                        <input type="text" class="form-control" id="modal-tags" name="tags">
                    </div>

                    <!-- FIXME -->
                    <input id="voclist-id" type="text" value="{{ voclist.id }}" name="voclist-id" style="display: none;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- FIXME -->
<!-- Modal to update entries -->
<div class="modal fade" id="update-entry-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="update-modal-word">Word:</label>
                        <input type="text" class="form-control" id="update-modal-word" name="word">
                    </div>
                    <div class="form-group">
                        <label for="update-modal-translation">Translation:</label>
                        <input type="text" class="form-control" id="update-modal-translation" name="translation">
                    </div>
                    <div class="form-group">
                        <!-- FIXME -->
                        <label for="update-modal-tags">Tags (separated by ','):</label>
                        <input type="text" class="form-control" id="update-modal-tags" name="tags">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="update-ok-button" type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
