{% extends "base.html" %}

{% block headers %}
    <link href="/static/css/voclist.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3 class="col-md-6">Entries for {{ voclist }}</h3>

            <div id="search" class="col-md-6">
                <h3>Filter by</h3>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="search-word" class="col-md-2">Word</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="search-word" name="word"
                                   {% if search_word %} value="{{ search_word }}" {% endif %}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="search-tag" class="col-md-2">Tag</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="search-tag" name="tag">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Ok</button>
                </form>
            </div>

        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ voclist.language_left }}</th>
                    <th>{{ voclist.language_right }}</th>
                    <th>Tags</th>
                </tr>
            </thead>
                <tbody>
                    {% for entry in entries %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ entry.word }}</td>
                            <td>{{ entry.translation }}</td>
                            <td>
                                {% for tag in entry.tags %}
                                    #{{ tag.value }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-entry-modal">Add entry</button>
    </div>

    <!-- Modal to add entries -->
    <div class="modal fade" id="add-entry-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <form id="add-entry-form" action="/voclist/" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New entry for {{ voclist }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="modal-word">Word:</label>
                            <input type="text" class="form-control" id="modal-word" name="word">
                        </div>
                        <div class="form-group">
                            <label for="modal-translation">Translation:</label>
                            <input type="text" class="form-control" id="modal-translation" name="translation">
                        </div>

                        <!-- FIXME -->
                        <input type="text" value="{{ voclist.id }}" name="voclist-id" style="display: none;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
