{% extends "base.html" %}
{% import "modal.html" as modal %}

{% block headers %}
    <link href="{{ url_for('static', filename='css/voclist.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/voclist.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Voclists</a></li>
    <li class="active">{{ voclist }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>Entries for
                <span class="label" style="background-color: #eee; color: #000;">{{ voclist }}
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </span>
            </h3>

            <p>
                Click on a tag to search entries related to this tag.
            </p>
        </div>

        <div id="search" class="col-md-6">
            <h3>Filter by</h3>

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="search-word" class="col-md-2">Word</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="search-word" name="word"
                               {% if search_word %} value="{{ search_word }}" {% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="search-tag" class="col-md-2">Tag</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="search-tag" name="tag"
                               {% if search_tag %} value="{{ search_tag }}" {% endif %}>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Ok</button>
            </form>
        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ voclist.language_left }}</th>
                <th>{{ voclist.language_right }}</th>
                <th>Tags</th>
                <th class="manage">Manage</th>
            </tr>
        </thead>
            <tbody>
                {% for entry in entries %}
                    <tr entry-id="{{ entry.id }}">
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ entry.word }}</td>
                        <td>{{ entry.translation }}</td>
                        <td>
                            {% for tag in entry.tags %}
                                <span class="label"
                                      style="background-color: {{ color_generator.gen_color(tag.id) }}"
                                >{{ tag.value }}</span>
                            {% endfor %}
                        </td>
                        <th>
                            <button type="button" class="btn btn-primary edit-button">Edit</button>
                            <button type="button" class="btn btn-primary delete-button">Delete</button>
                        </th>
                    </tr>
                {% endfor %}
        </tbody>
    </table>

    <button id="add-entry-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-entry-modal">Add entry</button>

    {{
        modal.entry_modal(
            "add",
            "New entry for " ~ voclist,
            "post",
            "/voclist/" ~ voclist.id,
            "submit"
        )
    }}

    {{
        modal.entry_modal(
            "update",
            "",
        )
    }}

{% endblock %}
